@font-face{
	font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: bold;

}

body {
    background-image: url(./images/backgrounds/yuuClockBG2NoLogo.jpg);
    background-size cover;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    font-family: 'Inter';
    color: #FFFFFF;
}

/* Header Elements */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    max-height: 10vh;
}

/* Year Up United Logo */
.logo img {
    width: 300px;
    height: auto;
}

.headerTime {
    font-size: 57px;
    font-weight: bold;
    margin-right: 50px;
}

/*  */